
#PROFC {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  margin-top: 0px;
  width: 100%;
  max-width: 450px; 
  width:600px;
  margin: 0px auto; 
  text-align: center;
  position: relative; 
  overflow: hidden;

}
#PROH {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

#piiii {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  margin: 0;
}

#PROFLRR{
  margin: 0;
  font-size: 0.8em;
  color: #888;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 12px;
  
}

.social-icon {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  height: 60px;
  width: 60px;


}

.facebook {
  height: 60px;
  width:60px;
  background-color: #3b5998;
  color: white;
}

.instagram {
  height: 60px;
  width: 60px;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
}

.tiktok {
  height: 60px;
  width: 60px;
  background-color: #000000;
  color: white;
  border: 1px solid #ffffff;
}

#INNAMF {
  font-weight: bold;
  color: black;
}

#INFFTA {
  font-weight: bold;
  color: black;
  font-size: xx-small;
}

#INFL {
  font-size: small;
}

.X {
  background-color: #000000;
  color: white;
  border: 1px solid #ffffff;
  height: 60px;
  width: 60px;
}

.Snapchat {
  background-color: #f4f135;
  color: white;
  border: 1px solid #ffffff;
  height: 60px;
  width: 60px;
}

.Youtube {
  background-color: #fc2a2a;
  color: white;
  border: 1px solid #ffffff;
  height: 60px;
  width: 60px;
}


.cont {
  position: absolute;
  max-width: 950px;

  margin: auto;
  left: 500px;
  top:300px;
  height: 90vh;
  overflow-y: scroll;
  
}
@media (max-width: 768px) {
  #PROFC {
    width: 100%; 
    margin-top: 20px; 
    max-width: none;
  }

  .cont {
    position: static; 
    max-width: none; 
    margin: 0; 
    left: 0; 
    
  }

  #PROFC, .Filters {
    position: static; 
    width: 100%; 
    max-width: none;
    margin-left: 0; 
    margin-bottom: 20px; 
  }

  .Filters {
    right: 0; 
  }
}


#PROFC:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#PROFC {
  margin-left: 200px;
  z-index: 1;
}

.Filters {
  right: 30px;
  z-index: 1;
}

@media (max-width: 768px) {
  #PROFC,
  .Filters {
    position: static;
    width: 100%;
    max-width: none;
    right: auto;
    margin-bottom: 20px;
  }
}

#PROFC:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

