.delteAccountContainer {
    margin : 20px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 70%;
    display: block;
    border: 1px solid ;
    border-radius: 20px;
    border-color: #FF1B6D;
    }
#goodbyeMessage {
    font-size: medium;
    margin-bottom: 0;
}
#deleteMessage {
    font-size: larger;
}
#deleteAccountHr {
    margin-top: 5px;
    position: relative;
    border: none;
    height: 1px;
    background-color: #000;
    opacity: 50%;
    border-radius: 2px;
}
.deleteAccountButton { 
    margin-top: 0px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: #DC2A03;
    border-radius: 10px;
    border : none;
    
}

.deleteAccountButton:hover {
    background-color: #941e04;
}
