

.blog {
    background: white;
    /*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 456px 93px 410px 93px;
    width: 1700px;
    box-sizing: border-box;
    
    margin-top: 10px; 
    margin-bottom: 30px; 
    margin-left: 50px; 
    margin-right: 700px;
    */
  }
 #container1-blog{
    position: relative;
   background-size: cover;
    height: 400px; 
    margin-left: 130px;
 color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  }
  .coverphoto{
    position: relative;
    background-size: cover;
    height: 370px; 
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
#Heading-blog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

  }
  .blog .card-latest {
    box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    padding: 0 0px 0 67.9px;
    width: fit-content;
    box-sizing: border-box;
  }
  .blog .long-established {
    margin: 0 2.6px 35.8px 2.6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: var(--token-1, #2D3748);
  }
  .blog .may-20-th-2020 {
    margin-right: 7.5px;
    width: 430.9px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: var(--token, #718096);
  }
  .blog .picture6 {
    width: 562.4px;
    height: 277px;
  }
  .blog .read-more {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: var(--token-1, #2D3748);
  }
  .blog .paragraph1{
    margin-bottom: 41.3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--token, #718096);
  }
  .blog .card-panel-left {
    box-shadow: 0px 4px 4px 0px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1.3px 29.4px 2.6px;
    box-sizing: border-box;
  }
  .blog .long-established-1 {
    margin: 0 18.2px 20.4px 18.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: var(--token-1, #2D3748);
  }
  .blog .may-20-th-20201 {
    margin-right: 7.5px;
    width: 247.9px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: var(--token, #718096);
  }
  .blog .read-more-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: var(--token-1, #2D3748);
  }
  .blog .picture7 {
    margin-bottom: 20.5px;
    width: 385.1px;
    height: 203.8px;
  }
  .blog .paragraph2 {
    margin: 0 19.5px 53.8px 19.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--token, #718096);
  }
  .blog .card-panel-centre {
    box-shadow: 0px 4px 4px 0px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 29.4px;
    box-sizing: border-box;
  }
  .blog .long-established-2 {
    margin: 0 20.8px 20.4px 20.8px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: var(--token-1, #2D3748);
  }
  .blog .may-20-th-20202 {
    margin-right: 7.5px;
    width: 248.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: var(--token, #718096);
  }
  .blog .read-more-2 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: var(--token-1, #2D3748);
  }
  .blog .paragraph3 {
    margin: 0 22.1px 53.8px 22.1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--token, #718096);
  }
  .blog .picture8 {
    margin-bottom: 20.5px;
    width: 390px;
    height: 203.8px;
  }
  .blog .card-panel-right {
    box-shadow: 0px 4px 4px 0px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 29.4px;
    box-sizing: border-box;
  }
  .blog .long-established-3 {
    margin: 0 20.7px 20.4px 20.7px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: var(--token-1, #2D3748);
  }
  .blog .may-20-th-20203 {
    margin-right: 7.5px;
    width: 247.9px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: var(--token, #718096);
  }
  .blog .read-more-3 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: var(--token-1, #2D3748);
  }
  .blog .paragraph4 {
    margin: 0 22px 53.8px 22px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--token, #718096);
  }
  .blog .picture9 {
    margin-bottom: 20.5px;
    width: 389px;
    height: 203.8px;
  }
  .blog .highlight-section {
    background: #F7FAFC;
    position: relative;
    margin: 0 0 35px 1px;
    display: flex;
    flex-direction: row;
    padding-left: 81.8px;
    width: fit-content;
    box-sizing: border-box;
  }
  .blog .picture10{
    width: 681.7px;
    height: 570px;
  }
  .blog .paragraph5 {
    margin-bottom: 70.3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--token, #718096);
  }
  .blog .read-more-4 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
  }
  .blog .may-20 {
    margin-right: 9.5px;
    width: 286.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--token-3, #4A5568);
  }
  .blog .what-is-lorem-ipsum {
    margin-bottom: 40.8px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #000000;
  }
  .blog .group {
    border-radius: 5px;
    background: #6B46C1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-left: 1500px;
    padding: 10.2px 15.1px 11px 14.2px;
    width: 158px;
    box-sizing: border-box;
  }
  .blog .see-more {
    margin: 0 9.5px 1.8px 0;
    display: inline-block;
    width: 97.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
  }
  .blog .arrow-down-circle-fill-1 {
    margin-top: 1.9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 21.6px;
    height: 18.9px;
    box-sizing: border-box;
  }
  .blog .vector {
    width: 21.6px;
    height: 18.9px;
  }
  .blog .container2 {
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    column-gap: 43px;
    width: fit-content;
    box-sizing: border-box;
    margin-left: 100px;
  }
  .blog .container3 {
    margin: 111.7px 106px 137.2px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .blog .container1-a {
    margin: 0 2.2px 0 2.6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500.8px;
    box-sizing: border-box;
  }
  .blog .container2-b {
    margin: 0 20.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 318.5px;
    box-sizing: border-box;
  }
  .blog .container1 {
    margin: 46.7px 118.1px 51.1px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .blog .container3-a {
    margin-right: 4.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 379.2px;
    box-sizing: border-box;
  }
  .blog .container2-a{
    margin: 0 18.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 317.8px;
    box-sizing: border-box;
  }
  .blog .container2-c {
    margin: 0 20.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 317.8px;
    box-sizing: border-box;
  }
  .icon{
    color: white;
    
  }