.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #2D3748;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin: 10px 0;
    font-size: 14px;
    color: #718096;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-date {
    font-size: 12px;
    color: #718096;
    margin-right: 150px;
  }
  
  .card-button {
    background-color: #718096;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin-left: 100px;
  }
  
  
  
  .card-image {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
   
  }
  
  .card-image img {
    width: 200%;
    height: auto;
    border-radius: 5px;
  }
  
 