.btn-primary.btn-custom {
  margin: 2px;
  width: 150px;
  white-space: nowrap;
  flex: 0 0 auto;
  transition: background-color 0.3s, border-color 0.3s;
}

.form-floating {
  width: 90%;
  margin-left: 35px;
}

.form-control:focus {
  border-color: #ff1b6d;
  box-shadow: 0 0 0 0.25rem rgba(255, 27, 109, 0.25);
}

.btn-primary.btn-instagram {
  background-color: #c13584;
  border-color: #c13584;
}
.btn-primary.btn-instagram:hover {
  background-color: #ffffff;
  color: #c13584;
  border-color: #000000;
}

.btn-primary.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-primary.btn-facebook:hover {
  background-color: #ffffff;
  color: #3b5998;
  border-color: #000000;
}

.btn-primary.btn-tiktok {
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.btn-tiktok:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.btn-primary.btn-snapchat {
  background-color: #fffc00;
  border-color: #fffc00;
  color: #000000;
}
.btn-primary.btn-snapchat:hover {
  background-color: #ffffff;
  color: #fffc00;
  border-color: #000000;
}

.btn-primary.btn-youtube {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-primary.btn-youtube:hover {
  background-color: #ffffff;
  color: #ff0000;
  border-color: #000000;
}

.btn-primary.btn-x {
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.btn-x:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.container {
  padding: 50px;
  background-color: #ffffff;
}

.btn2:hover {
  background-color: #ffffff;
  color: #ff1b6d;
}
.btn2 {
  background-color: #ff1b6d;
  border-color: #ff1b6d;
}
