.site__wrapper {
	margin-top: 10em;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.titleDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.5em;
}
.viewMoreButton {
	margin-right: 10px;
	height: 2.5em;
	font-size: 20px;
	border: 0;
	border-radius: 15px;
	padding: 12px 25px;
	margin-right: 5px;
	background-color: #ff1b6d;
	color: #ffffff;
	border: none;
}
.blogTitle {
	margin-left: 10px;
	font-size: 40px;
	font-weight: lighter;
}
.site__info {
	clear: both;
	display: block;
	font-variant: small-caps;
	letter-spacing: 2px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
}

.grid {
	float: none;
	width: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;

	@media screen and (min-width: 40.063em) {
		float: left;
		width: 33.333%;
	}
}

.card__image {
	border-radius: 3px;
	display: block;
	height: 280px;
	max-width: fit-content;
	overflow: hidden;
	position: relative;
	background-size: cover;

	> img {
		display: block;
		margin-bottom: 0;

		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	&:hover > img {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.card__title {
	color: #131313;
	display: inline-block;
	width: 95%;
	border-radius: 10px;
	font-size: 1 em;
	padding: 5px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.75em;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-align: center;
}

.card__overlay {
	content: "";
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.card__overlay-content {
	height: 45%;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 1.5em;
	z-index: 3;
}

.card__meta {
	text-align: center;
	margin-bottom: 0.75em;

	&.card__meta--last {
		margin-bottom: 0;
	}

	li {
		color: #000000;
		display: inline;
		list-style-type: none;
		margin-bottom: 0;
		padding-right: 1em;

		font-size: 0.85em;
		font-variant: small-caps;
		letter-spacing: 1px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

		> a {
			color: #000000;
		}
	}
}

@media (max-width: 767px) {
	.site__wrapper {
		margin-top: 5em;
	}
	.blogTitle {
		font-size: 30px;
		margin-left: 10px;
	}
	.viewMoreButton {
		font-size: 15px;
		padding: 10px;
		padding-bottom: 35px;
		margin-right: 10px;
	}
}
