.AboutPage {
  /*
    margin-top: 10px; 
    margin-bottom: 30px; 
    margin-left: 700px; 
    margin-right: 700px; 
    */
    background-color: white;
}

#container1-about{
  position: relative;
  background-size: cover;
  height: 400px; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
#Heading-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #main-title-about {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 #subtitle-about {
    text-align: center;
    font-size: 40px;
  }
 #paragraph1-about{
   margin-left: 150px;
    font-size:50px;
    
  }
  .coverphoto{
    position: relative;
    background-size: cover;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #we-help-brand-about{
    font-family: 'Poppins';
    margin-left: 600px;
    line-height: 1.333;
    font-size:20px;
    font-weight: bold;
    color: black;
  }
  
    #paragraph2-about {
      font-size: 25px;
      color: black;
      justify-content: right;
      display: block;
    margin-left: 600px;
    overflow-wrap: break-word;
    
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.765;
   

   
    }
  

  .brandphoto{

    justify-content: left;
    position: relative;
    margin: -400px 646px 100px 20px;
    width: 454px;
    height: 400px;
    
  }
  
#brand-button-about{
  border-radius: 30px;
    background: #FF1B6D;
    position: relative;
    margin: 0 0 60px 914px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 1.4px 18px 0;
    width: 204px;
    box-sizing: border-box;
}
#see-details-about{
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.join-as-brand-link{
  text-decoration: none;
}
  #creator-button-about { 
    border-radius: 30px;
    background: #FF1B6D;
    position: relative;
    margin: 0 0 60px 914px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 1.4px 18px 0;
    width: 204px;
    box-sizing: border-box;

  }
 #see-details2-about{
    overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;


  }
  .join-as-creator-link{
    text-decoration: none;
  }
  
  #we-help-creator-about{
    font-size:20px;
    font-weight: bold;
    color: black;
    font-family: 'Poppins';
    margin-right: 800px;
    line-height: 1.333;
    
  }
  #paragraph3-about {
    font-size: 25px;
    color: black;
    justify-content: left;
    display: block;
  margin-right: 500px;
overflow-wrap: break-word;
font-family: 'Poppins';
font-weight: 400;
letter-spacing: 0.3px;
line-height: 1.765;
  }
  .creatorphoto{
    justify-content: left;
    position: relative;
    margin: -400px 646px 0px 1300px;
      width: 400px; 
      height: 500px; 
  }

    
  
  
  #paragraph4-about {
    font-size: 20px;
    color: white;
    justify-content: left;
    display: block;
  margin-right: 500px;
  font-size: 20px;
overflow-wrap: break-word;
font-weight: 400;
letter-spacing: 0.3px;
line-height: 2

  }
  #why-choose-us-about{
    font-size:20px;
    font-weight: bold;
    color: white;
    margin-right: 900px;
    line-height: 1.3;
    
  }#container4-about{
    background-color:rgb(248, 70, 144);
  }
  .finalphoto{
    justify-content: left;
    position: relative;
    margin: -300px 646px 10px 1200px;
    height:400px ;
  }