@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');s
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppinse",sans-serif;
}
.brand-card{
    background-color: white;
    border: 1px solid #FF1B6D;
    border-radius: 50px;
    padding: 3rem;
    margin-left: 5%;
    margin-top: 5%;
 }
.brand-card h1{
    text-align: center;
    padding: 1rem;
}
.brand-card img{
    float: left;
    padding-right: 2rem;
}
.brand-card h2{
    margin-top: 15%;
    font-weight: 500;
    margin-bottom: 20%;
    font-size: large;
}
.brand-card p{
    text-align: center;
}
.bi{
    height: 2rem;
    width: 2rem;
}
.icons-platform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.insta-icon{
    display: flex;
    flex-direction: column;
    color: #FF1B6D;
}
.facebook-icon{
    display: flex;
    flex-direction: column;
    color: blue;
}
.tiktok-icon{
    display: flex;
    flex-direction: column;
}
.snapchat-icon{
    display: flex;
    flex-direction: column;
    color: rgb(187, 187, 22);
}
.x-icon{
    display: flex;
    flex-direction: column;
}