@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppinse", sans-serif;
}

.search-brand-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 10px;
    flex-wrap: wrap;
    padding: 0 15% 0 5%;
    margin-bottom: 5%;
}
#search-input-brand{
    flex-grow: 1;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    max-width: 250px;
}


.search-brand-container button {
    flex-grow: 1;
    width: 50px;
    border: 1px  solid #FF1B6B;
    background-color: rgb(243, 237, 228);
    font-size: 24px;
}

.sort-by-container {
    display: flex;
    align-items: center;
}

.sort-by-container span {
    margin-right: 10px;
}

.sort-by-container .select {
    border-radius: 10px;
    padding: 10px;
    background-color: #FF1B6B;
    color: #fff;
}

#loc {
    color: #FF1B6B;
}

.btn svg {
    width: 20px;
}

.loc-name-search {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

@media (max-width: 768px) {
    .search-brand-container {
        margin-bottom: 50%;
    }
    #search-input-brand,.search-brand-container button{
        width: 80%;
    }
}

